@charset "utf-8";
body {
    font-family: 'Lato', sans-serif;
    background: #e9e7e7;
    margin: 0
}
a {
    text-decoration: none;
    color: #232323;
    transition: 0.5s;
}
h3 {
    text-align: center;
}
.page-header {
    padding-bottom: 70px;
    max-width: 1200px;
    margin: 0px auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: 300;
    list-style-type: none;
    padding: 74px 0;
}
.home {
    width: 37.5%;
}
.nav-item:hover {
    font-weight: 900;
}
.contact {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.btn-line {
    color: #232323;
    background-color: ##e9e7e7;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 77px;
    height: 34px;
    padding: 13px 50px 5px;
    border: 3px solid #232323;
    border-radius: 6px;
    transition: 0.5s;
}
.btn-line:hover {
    color: #fff;
    background-color: #000;
}
.btn-black {
    color: #fff;
    display: block;
    width: 142px;
    font-size: 21px;
    background-color: #232323;
    font-weight: 900;
    padding: 14px 59px;
    border-radius: 6px;
    transition: 0.5s;
}
.btn-black:hover {
    color: #232323;
    background-color: #fff;
    z-index: 2;
}
.btn-white {
    color: #fff;
    background-color: #232323;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1.25px;
    padding: 14px 58px;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: 0.5s;
}
.btn-white:hover {
    color: #232323;
    background-color: #fff;
}
main {
    padding-bottom: 160px;
}
.wrap {
    max-width: 1200px;
    margin: -42px auto;
}
.grid {
    display: flex;
    justify-content: space-between;
}
.Title {
    font-size: 5em;
    font-family: 'Cardo', serif;
    width: 440px;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 23px;
    color: #232323;
}
.wrap-memory {
    width: 470px;
    margin: 0 auto;
}
.title-white {
    padding-top: 48px;
    margin: 2px;
    font-size: 3.5em;
    color: #fff;
    font-family: 'Cardo', serif;
    line-height: 1;
}
.text-white{
    letter-spacing: -0.1px;
    padding-top: 3px;
    padding-bottom: 40px;
    color: #fff;
    line-height: 1.25;
}
.text-black {
    line-height: 1.25;
    letter-spacing: -0.2px;
    text-align: justify;
    color: #232323;
}
.reserve {
    margin-bottom: 43px;
}
.travel-box {
    width: 425px;
    position: relative;
    z-index: 2;
}
.Travel_img {
    float: right;
}
.page-memory {
    margin-top: 200px;
    text-align: center;
    background-color: #232323;
    padding-bottom: 73px;
    position: relative;
    z-index: 2;
}
.page-choice {
    padding-bottom: 14px;
}
.item-choice {
    padding-top: 208px;
    width: 363px;
}
.hr-line {
    width: 50px;
    border-top: 3px solid #232323;
    margin: 27px auto 26px 0;
}
.title-choice {
    font-family: 'Cardo', serif;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.5px;
    width: 70%;
    margin: -2px 0 27px 0px;
    color: #232323;
}
.page-plane {
    padding-top: 427px;
    margin-left: 0px;
}
.icon-vector {
    width: 72px;
    margin-left: 13px;
}
.wrap-plane {
    text-align: center;
}
.title-plane {
    font-size: 6em;
    font-family: 'Cardo', serif;
    width: 780px;
    line-height: 1;
    letter-spacing: 1px;
    margin: 55px auto 65px auto;
    text-align: center;
    color: #232323;
}
.underline {
    text-decoration:underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 17px;
}
.italic {
    font-style: italic;
}
.h4_title_black {
    color: #232323;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.item-choice1 {
    padding-top: 147px;
    width: 595px;
    height: 852px;
}
.nature {
    margin-bottom: 89px;
    padding-top: 72px;
}
.arrow {
    padding-top: 80px;
    padding-left: 175px;
}
.n1{
    padding-top: 29px;
}
.nature1{
    font-family: 'Cardo', serif;
    font-size: 37px;
    line-height: 1.34;
    letter-spacing: 0px;
    width: 50%;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.nature2{
    font-family: 'Lato', serif;
    line-height: 1.29em;
    letter-spacing: -0.1px;
}
.sea {
    padding-top: 73px;
}
.mountain {
    padding-top: 73px;
}
.mo {
    padding-right: 234px;
}
.box{
    margin-top: -270px;
    margin-left: -60px;
}
.box {
    margin-top: -277px;
    margin-left: 285px;
}
.grid1 {
    display: flex;
    justify-content: flex-end;
}
.page-choose {
    background-color: #232323;
    padding-bottom: 140px;
    padding-top: 154px;
    height: 574px;
    margin: -15px auto 221px auto;
}
.t-choose {
    color: #fff;
    width: 466px;
    padding-top: 37px;
}
.maintitle-choose {
    font-size: 3.5em;
    font-family: 'Cardo', serif;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
}
.title-choose{
    font-size: 1.5em;
    margin-block-end: 0.7em;
}
.text-choose{
    margin-block-end: 3.3em;
    line-height: 1.25;
}
.logs {
    font-size: 3em;
    font-family: 'Cardo', serif;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
}
.man {
    float: right;
    margin-top: -741px;
}
.plus-title{
    font-size: 5em;
    font-family: 'Cardo', serif;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
    width: 725px;
    color: #232323;
}
.plus-lorem {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -74px;
    height: 277px;
    margin-bottom: 350px;
}
.plus-line {
    width: 735px;
    margin-left: -44px;
    border-top: 3px solid #000;
}
.plus-p{
    margin: 0px;
    color: #232323;
}
.card{
    color: #232323;
    letter-spacing: 1.25px;
    padding: 70px 40px 48px;
    border: 3px solid #232323;
    border-radius: 10px;
    margin: -58px 0 -58px 0px;
}
.card-text {
    color: #232323;
    letter-spacing: -0.5px;
    width: 300px;
    text-align: justify;
}
.title-card {
    font-size: 5em;
    font-family: 'Cardo', serif;
    font-weight: 900;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
    width: 700px;
    color: #232323;
}
.updated {
    font-size: 5em;
    font-family: 'Cardo', serif;
    font-weight: 900;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
    width: 500px;
    color: #232323;
}
.custname {
    margin-top: 40px;
    font-size: 1.5em;
    letter-spacing: 0px;
}
.mainform{
    margin-top: 258px;
}
.maintitle-form{
    font-size: 5em;
    font-family: 'Cardo', serif;
    font-weight: 900;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
    width: 725px;
    color: #232323;
    }
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 603px;
    width: 449px;
    margin-top: -114px;
    padding-bottom: 256px;
}
 .btn-line-2{
    color: #232323;
    font-family: 'Lato', serif;
    background: #e9e7e7;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.25px;
    padding: 16px 22px;
    border: 3px solid #232323;
    border-radius: 6px;
}
.btform{
    width: 408px;
    padding: 20px;
    text-align: center;
    margin-top: 36px;
}
footer{
    background-color: #c4c4c4;
}
.mylog {
    padding-top: 110px;
    display: flex
}
.logtitle{
    font-size: 4em;
    font-family: 'Cardo', serif;
    font-weight: 900;
    margin-block-start: 0em;
    margin-block-end: 2em;
    line-height: 1em;
    width: 347px;
    color: #232323; 
}
.quick {
    margin-top: 3px;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 835px;
}
.links {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    list-style-type: none;
    padding: 5px 0;
    flex-direction: column;
    height: 124px;
}
.copyright{
    padding-top: 48px;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    padding-bottom: 120px;
}
.back_l {
    position: absolute;
    left: 0;
    top: 274px;
    z-index: 1;
}
.back_r {
    position: absolute;
    right: 0;
    top: 443px;
    z-index: 1;
}
.front_l {
    position: absolute;
    left: 0;
    top: 40px;
    filter: grayscale(1) brightness(1000%);
}
.front_r {
    position: absolute;
    right: 0;
    top: 235px;
    filter: grayscale(1) brightness(1000%);
}
.choice_l {
    position: absolute;
    left: 0;
    top: 1191px;
}
.choice_r {
    position: absolute;
    right: 0;
    top: 1542px;
}
.lightest {
    position: absolute;
    right: 0;
    top: 2060px;
}
.scribble {
    margin-bottom: -100px;
    padding-right: 760px;
}
.tape {
    position: relative;
    left: -35px;
    top: -525px;
}   
.light2 {
    position: relative;
    left: 0;
    top: 4px;
}
.imgplus {
    width: 19px;
    margin-right: 47px;
}
.plusplus {
    display: flex;
    justify-content: space-between;
}
.dark_l {
    position: absolute;
    left: 0;
    top: 5590px;
    z-index: 1;
}
.dark_r {
    position: absolute;
    right: 0;
    top: 6256px;
    z-index: 1;
}
.imgfooter{
    position: absolute;
    left: 0;
    top: 7817px;
    z-index: 1;
}
.arrows {
    display: flex;
    justify-content: space-between;
}
.arrow_but_l {
    position: relative;
    right: 50px;
    top: -159px;
    background-color: #e9e7e7;
    padding: 17px 21px;
    border: 3px solid #232323;
    border-radius: 10px;
}
.arrow_but_r {
    position: relative;
    left: 50px;
    top: -159px;
    background-color: #e9e7e7;
    padding: 17px 21px;
    border: 3px solid #232323;
    border-radius: 10px;
}